extends layout

block content
  h1= title
  form(action='/getParticipants', method='GET')
    label(for='meetingId') Meeting ID:
    input(type='text', id='meetingId', name='meetingId')
    label(for='password') Password:
    input(type='password', id='password', name='password')
    button(type='submit') Get Participants
  ul
    if participants && participants.length > 0
      each participant in participants
        li= participant.name
    else
        li No participants found


